* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  /* color: #444; */
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  /* background-color: #aaa; */
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid #8c99a3;
  background-color: #CAC728;
}

nav > a {
    color: black;
    margin-right: 10px;
}

a:first-child {
    font-size: 25px;
}

main {
    margin-top: 5%;
}

header {
  padding: 12% 0;
}

section {
  /* min-height: 200px; */
  padding: 2% 0;
  /* background-color: #bbb; */
}

.bio {
    margin-bottom: 5%;
}

.preview > a > img {
  width: 50%;
}

.project {
    margin-bottom: 5%;
    border: groove ;
}

.btn-dark {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 1.2em;
  background: #01213b;
  padding: 5px 16px;
  text-decoration: none;
  border: none;
  min-width: 134px;
  border: 2px solid #01213b;
}

.btn-dark:hover {
  cursor: pointer;
  background-color: #063B67;
  border: 2px solid #063B67;
}

.btn-light {
  font-family: 'Lato', sans-serif;
  color: #01213b;
  font-size: 1.2em;
  background: #ffffff;
  padding: 5px 16px;
  text-decoration: none;
  border: none;
  min-width: 134px;
  margin-left: 10px;
  border: 2px solid #01213b;
}

.btn-light:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #063B67;
  border: 2px solid #063B67;
}

.marg-clear-l {
  margin-left: 0 !important;
}

/* section:nth-child(even) {
  background-color: #ddd;
} */

.email {
    margin-right: 10px;
}

img {
    width: 100%;
    margin-bottom: 5%;
}

.project-tech {
  margin-top: 19.200px;
  margin-bottom: 50px;
}

.tech-icon {
  /* color: #4b4b4b; */
  height: 1.3em;
}

@media (min-width: 576px) { 
  .gangster-info {
    padding: 5%;
  }
}
